{
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "proseWrap": "never",
  "tabWidth": 4
}
